<?xml version="0.0" ?>
<robot name="{body_name:s}">
  <link name="{body_name:s}">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <inertia_scaling value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="{cx} {cy} {cz}"/>
       <mass value="{mass}"/>
       <inertia ixx="{ixx:.6f}" ixy="{ixy:.6f}" ixz="{ixz:.6f}" iyy="{iyy:.6f}" iyz="{iyz:.6f}" izz="{izz:.6f}"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="{obj_file:s}" scale="{scale} {scale} {scale}"/>
      </geometry>
      <material name="color">
        <color rgba="{rgba:s}"/>
      </material>
    </visual>
{collision_mesh:s}
  </link>
</robot>