*/.DS_Store
*/*.pyc
.DS_Store
*~
*.pyc
*/traj*
*/cont*
*/ctrl*
data
0_*.txt
*/0_*.txt
*/*.mp4
*/traj.*
*/ctrl.*
*/cont.*
.*
*/*.bin
src/bullet_/log/*
configs/config.xml
scripts/monitor
monitor
*/monitor
./tools/calibratoin/calib_data/kinect/*
