<?xml version="1.0" encoding="UTF-8"?>
<batch>
	<config name="default" id="0">
		<build>
			<simulator engine="bullet" version="20170601"/>
			<job name="run"/>
			<property async="False" step_size="0.001" max_run_time="10e6"/>
		</build>
		<env>test.xml</env>
		<disp>disp.xml</disp>
	</config>

	<!-- <config name="default" id="1">
		<build>
			<simulator engine="bullet" version="20170601"/>
			<job name="run"/>
			<property async="True" step_size="0.001" max_run_time="10e6"/>
		</build>
		<env>env.xml</env>
		<disp>direct.xml</disp>
	</config> -->
</batch>